@{
    ViewData["Title"] = "Начало";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div style="margin-top: 0%; margin-bottom: 5%;" class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div style="margin-top: 8%; width:100%; " class="page-caption1">
                    <h1 class="page-title">
                        <ul class="a">
                      
                            <li style="animation-duration: 1s;" class="a1"> Ако колата ви пали трудно или понякога изобщо не пали? </li>
                            <li style="animation-duration: 2s;" class="a1">Ако колата ви почуква, потропва или не звучи както преди?</li>
                            <li style="animation-duration: 3s;" class="a1"> Ако колата ви оставя следи от масло на паркинга?</li>
                            <li style="animation-duration: 4s;" class="a1">Ако през лятото сте като в сауна или зимата като в хладилник?</li>
                            <li style="animation-duration: 5s;" class="a1">
                                Ако ви е омръзнало да чакате реда си в сервиза?
                                A когато дойде, чакате със седмици...
                            </li>
                            <li style="animation-duration: 6s;" class="a1"> Ако ви в омръзнало да ви таксуват за ненужни ремонти?</li>
                            <li style="animation-duration: 7s;" class="a1"> Ако просто се нуждаете от подмяна на консуматив или обслужване на автомобила си?</li>
                            <li style="animation-duration: 8s; color: #FFC312; font-weight: 1000;" class="a1">Попаднали сте на подходящото място! Тук работим по-отговорно, по-бързо и по-професионално!</li>

                            <li style="animation-duration: 10s; color: #FFC312; font-weight: 1000;" class="a1">Ние ценим както своето така и вашето време и пари!</li>
                        </ul>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
