@{
    ViewData["Title"] = "Услуги";
}
<div style="margin-top: 0%; margin-bottom: 5%;" class="page-header1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div style="margin-top: 8%; width:100%; " class="page-caption1">
                    <h1 class="page-title">
                        <ul class="a">
                            <li>Ремонт и диагностика на всички видове автомобили</li>
                            <li>Ремонт и обслужване на ходова част, трансмисии и двигатели</li>
                            <li>Основни и текущи ремонти</li>
                            <li>Ремонт и обслужване на автоклиматици</li>
                            <li>Смяна на гуми, масла и филтри</li>
                            <li>
                                МАРСЕРВИЗ ЕООД предлага и абонаментна поддръжка на фирмени и лични автомобили
                                на преференциални цени
                            </li>
                        </ul>

                    </h1>

                </div>
            </div>
        </div>
    </div>
</div>