@{
    ViewData["Title"] = "Error";
}
<div class="container mt-3">
    <h1 class="text-danger">Ooops...</h1>
    <h2 class="text-danger">An Error occurred while proces sing your request...</h2>
    <h1 class="text-danger">Please first Delete the parts and repairs for this car!</h1>
</div>