body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    color: #90908d;
    font-weight: 400;
    line-height: 20px;
    background-color: #edefef;
}

h1, h2, h3, h4, h5, h6 {
    color: #656565;
    margin: 0px 0px 10px 0px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 0.2;
}

h1 {
    font-size: 17px;
    color: ivory;
}

h2 {
    font-size: 28px;
    line-height: 38px;
}

h3 {
    font-size: 22px;
    line-height: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 20px;
    line-height: 1.7;
}

    p:last-child {
        margin: 0px;
    }

a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #908f8d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    a:focus, a:hover {
        text-decoration: none;
        color: #FFC312;
    }

.page-header {
    background: url("/images/banner1.jpg")no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

.page-header1 {
    background: url("/images/shutterstock.jpg")no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

.page-header2 {
    background: url("/images/652660470-1.jpg")no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}
.page-header3 {
    background: url("/images/shutterstock_668750248.jpg")no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}
.page-header4 {
    background: url("/images/timthumb.jpg")no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

.page-caption {
    padding-top: 20%;
    padding-bottom: 20%;
}

.page-caption1 {
    padding: 2%;
}

div.page-caption1 {
    margin-top: 1%;
    margin-bottom: 18%;
    font-size: 15px;
    line-height: 0;
    word-spacing: 5px;
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(12, 14, 12, 0.575);
}


iframe {
    padding-left: flex;
    padding-top: 0%;
    border: 0px;
    width: 100%;
}

ul.a {
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    list-style-type: '✓ ';
    text-align: left;
    animation-name: example;
    animation-duration: 6s;
}

li.a1 {
    font-family: monospace;
    word-spacing: 0;
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 2;
    position: relative;
    list-style-type: '✓ ';
    text-align: left;
    animation-name: example;
}

@keyframes example {
    0% {
        color: rgba(12, 14, 12, 0.575);
        left: 50%;
        top: 250px;
    }

    50% {
        color: #fff;
        left: 0px;
        top: 0px;
    }
}



.card-section {
    position: relative;
    bottom: 60px;
}

.card-block {
    padding: 80px;
}

.section-title {
    margin-bottom: 60px;
}

/* /////////////////////////////////////// */

/*.container {
    height: 100%;
    align-content: flex-end;
    display: flex;*/ /* чупи боот местоположението на логин */
/*}*/

.card {
    height: 70%;
    margin-top: 5%;
    margin-bottom: 15%;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

/* ///////////////////////////////////////////// */

#ads {
    margin: 30px 0 30px 0;
}

    #ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    #ads .card-detail-badge {
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card:hover {
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    #ads .card-image-overlay {
        font-size: 20px;
    }

        #ads .card-image-overlay span {
            display: inline-block;
        }

    #ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #e6de08;
    }

        #ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        }

    #ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

#notifications div {
    top: 4rem;
    position: absolute;
    border-radius: 7px;
    display: none;
    z-index: 1;
    opacity: .8;
}

#notifications {
    position: relative;
    display: flex;
    justify-content: center;
}

td.description {
    width: 20%;
}

.added-destination {
    color: black;
    cursor: pointer;
    width: 400px;
    border: 2px solid gray;
    text-align: center;
    background: lightgray;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 250px;
    flex-basis: 90%;
}

.picture-added-destination {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
}

    .picture-added-destination:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

.added-destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.option {
    color: #90908d;
}